* + * {
	margin: .5em 0;

}

body {
	margin: 0 auto;
	font-size: $font-size;
	line-height: $line-height;
	/* background: #303030 url(../assets/img/a.svg); */
  	color: white;
   	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center; 
  	background-size: 132vw;
	font-family: monospace;
}

html, body {
	width: 100%;
	height: 100%;
}

.container{
	margin: 0 auto;
	max-width: 60em;
}

a,a:visited {
	text-decoration: none;
	font-weight: bold;
}
a {
	color: $blue;
	svg {fill:$blue;}
}

a:hover, a:active{
	color: $light-gray;
	background-color: darken($blue,25%);
	svg {fill: $light-gray; }
}
a:visited {
	color: $red;
	svg {fill:$red;}
}

a:visited:hover{
	background-color: darken($red,25%);
	color: $light-gray;
	svg {fill: $light-gray;}
}

.site-nav {
	width: 100%;
	position: relative;
	padding: 5vh 0;
	// display: flex;
	border-bottom: solid .25em lighten($black,15%);
	a,div {
		flex: 1;
		width: 100%;
	}
}

.row {
	width: 100%;
	display: table;
	border-spacing: 1em 0;
}

.col {
	display: table-cell;
}

.page-content{
	margin: 5vh 0;
}

.col_dates ul {
	max-height: 75vh; 
	overflow-y: auto;
}
.futuredate {color: $green;}

iframe, object, embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

input,textarea{
	width: 100%;
	padding: 1em;
	border: solid transparent .25em;
	border-spacing: $line-height
}

input[type="text"],input[type="email"],textarea{
	background-color: $black;
	color: $light-gray;
	border: solid .25em transparent;
	border-bottom: solid .25em lighten($black,15%);
	&:required {
		border-color: transparent;
		border-bottom-color: $blue;
		color: $light-gray;
		transition: border-bottom-color .4s;
		&:empty{
			border-bottom-color:lighten($black,15%);
			transition: border-bottom-color .4s;
		}
	}
	&:required:invalid {
		border-color: transparent;
		border-bottom-color: $red;
		transition: border-bottom-color .4s;
		color: lighten($red,15%);
	}
	&:required:focus:valid {
		border-color: transparent;
		border-bottom-color: $blue;
		transition: border-bottom-color .4s;
		color: $light-gray;
		background-color: $black;
	}
}

input[type="submit"]{
	width: 30%; 
	padding: $font-size;
	margin: $line-height auto;
	cursor: pointer;
	background-color: $light-gray;
	color: $black;
	&:hover{
		background-color: lighten($light-gray,15%);
	}
}

pre {
	margin: 0 .5vw;
	background-color:lighten($black, 10%);
	overflow-x: auto;

}
code{
	background-color:lighten($black, 10%);
	padding: 0 .5vw;
}

footer {
	border-top: solid .25em lighten($black,15%);
	margin-top: 5vh;
	padding: .5vh .5vw;
}

svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  stroke-width: 0;
  stroke: currentColor;
  fill: $light-gray;
}

.centerall{
	height: 100vh;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bigtext{
	text-align: center;
	color: $red;
	animation: notfound .5s infinite;
	font-size: calc(8em + 4vw);
	line-height: calc(1em + 1vh);
}
.centertext {text-align: center;}

@keyframes notfound {
	0% {color: $red;}
	25% {color: $light-gray;}
	50% {color: $yellow;}
	75% {color: $blue;}
	100% {color: $red;}
}

@media(max-width: 800px){
	.container{
		margin: 0 5vh;
	}
	footer{
		width: 100%;
		margin: 0;
	}
}
@media(max-width: 500px){
	*+*{margin: 0;}
	.site-nav {
		display: flex;
		div{
			flex: 1;
		}
	}
	.col{
		display: block;
	}
}
